<p>comment-thread works!</p>
<div class="p-field logger">
    <div class="header">
      <div class="postedBy">
        <div class="img">
          <img [src]="comment.user?.avatar || '../../../assets/maleAvatar.png'" alt="Profile picture">
        </div>
        <div class="name">
          <p>{{ comment.user?.name }}</p>
        </div>
      </div>
      <div class="time">
        {{ comment.created_at | date: 'MMM d, y, h:mm a' }}
      </div>
    </div>
  
    <textarea pInputTextarea [(ngModel)]="comment.content" autoResize="true" rows="3" readonly></textarea>
  
    <div class="reply">
      <span (click)="toggleAdditionalComment(comment._id)">
        <i class="fa-solid fa-reply"></i>
      </span>
    </div>
  
    <div *ngIf="activeCommentId === comment._id" class="additionalComment">
      <textarea pInputTextarea [(ngModel)]="additionalComment" autoResize="true" rows="3"></textarea>
      <div class="button">
        <button pButton type="submit" label="Post" (click)="postAdditionalComment(comment._id)"></button>
        <button pButton type="submit" label="Cancel" (click)="toggleAdditionalComment(comment._id)"></button>
      </div>
    </div>
  
    <div class="nested-replies" *ngIf="comment.replies && comment.replies.length > 0">
      <app-comment-thread
        *ngFor="let reply of comment.replies"
        [comment]="reply"
        [activeCommentId]="activeCommentId"
        [additionalComment]="additionalComment"
        [toggleAdditionalComment]="toggleAdditionalComment"
        [postAdditionalComment]="postAdditionalComment">
      </app-comment-thread>
    </div>
  </div>
  