<div class="mainDiv">
    <div class="header">

        <div class="logo left">
            <h2>BlogNest</h2>
            <i class="fa-solid fa-globe"></i>
        </div>
        <div class="right">
           
            <div class="button">
                <span style="cursor: pointer;" class="logout" (click)="logout()">
                    <i class="fa-solid fa-right-from-bracket"></i>
                </span>
            </div>
        </div>


    </div>

    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>
