<div class="dashboard-container">



    <div class="content-area">

        <div class="top-header">
            <div>
                <h2>Blogs</h2>
            </div>

            <div>
                <i class="fa-solid fa-circle-plus" (click)="openCreateBlogDialog()"></i>
            </div>
        </div>

        <div class="filter">
            <span pButton type="button" (click)="filterBlogs(0)" [ngClass]="{ 'active-filter': selectedFilter === 0 }">
                <span style="font-weight: bold;">All</span>
            </span>

            <span pButton type="button" (click)="filterBlogs(1)" [ngClass]="{ 'active-filter': selectedFilter === 1 }">
                <span style="font-weight: bold;">My Blogs</span>
            </span>
        </div>


        <div *ngFor="let blog of blogs" class="blog-card" (click)="viewDetails(blog)">
            <div class="header">
                <div class="left">
                    <h3>{{ blog.title }}</h3>
                </div>
                <div class="right">
                    <p>{{ blog.created_at | date:'MMM d, y, h:mm a' }}</p>

                    <div class="menu-icon" *ngIf="selectedFilter === 1">
                        <button 
                          class="btn actionButton" 
                          [matMenuTriggerFor]="actionMenu" 
                          (click)="$event.stopPropagation()">
                          <i class="fa-solid fa-ellipsis-vertical"></i>
                        </button>
                      
                        <mat-menu #actionMenu="matMenu">
                          <button 
                            class="btn px-4 actionMenuButton" 
                            (click)="editBlog(blog); $event.stopPropagation()">
                            Edit
                          </button>
                        </mat-menu>
                      </div>
                      
                </div>
            </div>
            <div class="content">
                <pre class="description-content">{{ blog.description }}</pre>
            </div>

            <div class="bottom">
                <div class="left">
                    <p>Comments : <span style="color: gray;">12</span></p>
                </div>
                <div class="right">
                    <div class="postedBy">
                        <div class="img">
                            <img [src]="blog.createdBy.avatar.full || '../../../../assets/maleAvatar.png'" alt="Profile picture">
                          </div>
                          
                        <div class="name">
                            <p>{{blog.createdBy.name}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="sidebar">
        <div class="profile-card">
            <div class="top">
                <img *ngIf="croppedImage" [src]="croppedImage || currentUser?.avatar?.icon || 'assets/maleAvatar.png'"
                    alt="Profile picture">

                <img *ngIf="!croppedImage" [src]="userAvatarUrl || '../../../assets/maleAvatar.png'"
                    alt="Profile picture">
                <input type="file" #fileInput (change)="onFileSelected($event)" accept="image/*" hidden>
                <span (click)="fileInput.click()">
                    <i class="fa-solid fa-pen"></i>
                </span>
            </div>

            <div class="details">
                <h3>{{ currentUser.name }}</h3>
                <p>{{ currentUser.username }}</p>
                <p>{{ currentUser.email }}</p>
            </div>

        </div>
    </div>
</div>



<p-dialog [(visible)]="displayDialog" [modal]="true" [closable]="true" [style]="{ width: '50vw' }"
    [header]="isEditBlog ? 'Update Blog' : 'Create Blog'">

    <form [formGroup]="blogForm">
        <div class="p-fluid">
            <div class="p-field">
                <label for="title">Title <span style="color: red;">*</span> </label>
                <input id="title" type="text" pInputText formControlName="title"
                    [ngClass]="{ 'p-invalid': blogForm.get('title')?.invalid && blogForm.get('title')?.touched }" />
                <div *ngIf="blogForm.get('title')?.invalid && blogForm.get('title')?.touched" class="p-error">
                    Title is required.
                </div>

            </div>

            <div class="p-field">
                <label for="description">Description <span style="color: red;">*</span></label>

                <textarea id="description" pInputTextarea formControlName="description" rows="5"
                    [ngClass]="{ 'p-invalid': blogForm.get('description')?.invalid && blogForm.get('description')?.touched }"></textarea>
                <div *ngIf="blogForm.get('description')?.invalid && blogForm.get('description')?.touched"
                    class="p-error">
                    Description is required.
                </div>

            </div>

            <div class="buttons">
                <button *ngIf="!isEditBlog" pButton type="submit" label="Post" [disabled]="blogForm.invalid" (click)="onSubmit()"></button>
                <button *ngIf="isEditBlog" pButton type="submit" label="Update" (click)="updateBlog()"
                    [disabled]="blogForm.invalid"></button>
            </div>
        </div>
    </form>
</p-dialog>





<!-- Cropper Modal -->
<p-dialog [(visible)]="showCropper" [modal]="true" [closable]="false" [style]="{width: '400px'}">
    <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="1 / 1"
        format="png" (imageCropped)="onImageCropped($event)" [resizeToWidth]="200" [roundCropper]="true">
    </image-cropper>

    <ng-template pTemplate="footer">
        <div class="imgCropperFooter">
            <i style="color: red;" (click)="cancelCrop()" class="fa-solid fa-circle-xmark"></i>
            <i style="color: green;" (click)="saveCroppedImage()" class="fa-solid fa-circle-check"></i>
        </div>
    </ng-template>
</p-dialog>